.shop-container {
  background: #463c47;
  margin-bottom: -72px;
}

.store {
  color: #fcf3ec;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

.MuiInputBase-input,
.MuiSlider-markLabel {
  color: rgba(255, 255, 255, 0.87) !important;
}
