header {
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100vw;
  top: 0;
  background: grey;
}

li {
  display: inline;
  margin-right: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-transform: uppercase;
  color: #fcf3ec;
  font-size: 20px;
}

nav ul li a {
  font-size: calc(10px + 1vmax);
}

a {
  text-decoration: none;
  color: inherit;
}

li a.active {
  border-bottom: 1px solid #fcf3ec;
}
